.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.cache/
.vscode/
.static/datacenter

# Editor directories and files
webpack.config.js
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.cache/
.vscode/
# gulpfile.js