#tupian{
    width: 450px;
    height: 450px;
    display: flex;
    background-image: url('../images/Capture001.png');
    transform: rotate(45deg); 
}
.autoprefixer {
    width: 50px;
    height: 450px;
    display: flex;
    background: red;
}
