._member-index-wrap {
  height: 100vh;
  // 会员页面title样式
  .member-home-title {
    font-size: $font-size14;
    @include bg_color($background-color-theme);
    padding: 1vh 3vw;
    color: $font-color-white;
  }
  // 底部返回按钮样式
  .foot-buttom-layer {
    position: fixed;
    left: 2vw;
    right: 2vw;
    bottom: 2.6vh;
    text-align: right;
    span {
      font-size: $font-size12;
    }
  }
  /deep/ .el-dialog {
    padding: 1vw 0;
    .el-dialog__title,
    .el-dialog__close,
    span {
      font-size: $font-size12;
    }
  }

  .bottom-btn-warp {
    position: fixed;
    right: 2vw;
    bottom: 2.6vh;
    text-align: right;
    width: 30vw;
    button {
      cursor: pointer;
      text-align: center;
      margin-left: 1.5vw;
      font-size: $font-size12;
      border-radius:2px;
      span {
        font-size: $font-size12;
      }
    }
  }
  .notselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .el-radio {
    font-weight: normal;
  }
  .el-form-item__label {
    font-size: $font-size12;
    width: 9vw;
  }
  .el-input {
    width: 20vw !important;
  }
  .el-input__inner {
    font-size: $font-size12;
    height: 5vh;
    line-height:5vh;
    width: 20vw;
  }
  //input icon
  .el-input__icon {
    font-size: $font-size12;
    line-height: 5vh;
  }
  // 行垂直对齐
  .row-line-center {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  //对接硬件按钮
  .start-btn {
    height: 5vh;
    margin-left: 1vw;
    padding:2px 1vw;
    border-color: #dcdfe6;
    border-radius: 2px;
    font-size: $font-size12;
    span {
      font-size: $font-size12;
    }
  }
  .price-btn-group {
    display: flex;
    align-items: center;
    .el-radio-button__inner {
      display: inline-block;
      width: 5vw;
      height: 5vh;
      line-height: 5vh;
      padding: 0;
      text-align: center;
      font-size: $font-size12;
    }
  }
  .el-radio__inner {
    display: inline-block;
    width: 1.3vw;
    height: 1.3vw;
  }
  .el-radio__label {
    color: #333333;
    font-size: $font-size12;
  }
  .common-btn {
    height: 5vh;
    text-align: center;
    padding: 0 2vw;
    font-size: $font-size12;
    span {
      font-size: $font-size12;
    }
  }
  //title字体
  .member-info-title {
    padding: 0 0 0 2vw;
    font-size: $font-size14;
    font-weight: bold;
    text-align: left;
  }
  .otherBtn{
    display:inline;
  }



//会员卡形态
  .member-card-wrap {
    text-align: center;
    // 储值卡
    .stored_card {
      background-image: linear-gradient(-180deg, #ffcd6c 3%, #ffbc39 97%);
    }
    // 权益卡
    .equity_card {
      background-image: linear-gradient(-180deg, #8cc6d6 3%, #b2e6f4 97%);
    }
    // 联名卡
    .cobranded_card {
      background-image: linear-gradient(-180deg, #5f89ef 3%, #91b5fc 97%);
    }
    .member-card-item {
      // width: 280px;
      // height: 100px;
      width: 27.3vw;
      height: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 1vw 1vw 0;
      // background: #fedf32;
      border-radius: 0.65vh;
      .item-up {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0;
        // box-sizing: border-box;
        // 储值卡
        .stored_card_type {
          text-shadow: 0 1px 2px #ffb119;
        }
        // 权益卡
        .equity_card_type {
          text-shadow: 0 1px 2px #8dc7d7;
        }
        // 联名卡
        .cobranded_card_type {
          text-shadow: 0 1px 2px #8dc7d7;
        }
        .card-type {
          // height: 60px;
          // line-height: 60px;
          font-size: $font-size28;
          height: 6.1vw;
          line-height: 6.1vw;
          // font-size: 2.93vw;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 0;
        }
        .card-info {
          // 储值卡
          .stored_card_name {
            color: #ffa900;
          }
          // 权益卡
          .equity_card_name {
            color: #8ec8d8;
          }
          // 联名卡
          .cobranded_card_name {
            color: #5f89ef;
          }
          .card-name {
            width: fit-content;
            // max-width: 140px;
            max-width: 13.7vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background: #fff;
            border-radius: 9px;
            // font-size: 12px;
            font-size: $font-size12;
            float: right;
            padding: 1px 6px;
            // margin-bottom: 5px;
            margin-bottom: 0.51vw;
          }
          .card-num {
            // font-size: 12px;
            font-size: $font-size12;
            color: #ffffff;
            letter-spacing: 0;
            text-align: right;
            // margin-bottom: 5px;
            margin-bottom: 0.51vw;
          }
          .merchant-name {
            // font-size: 12px;
            font-size: $font-size12;
            color: #ffffff;
            letter-spacing: 0;
            float: right;
            width: fit-content;
            max-width: 13.7vw;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
      .item-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        // box-sizing: border-box;
        .card-status {
          // font-size: 12px;
          font-size: $font-size12;
          color: #ffffff;
        }
        .card-desc {
          // font-size: 12px;
          font-size: $font-size12;
          color: #ffffff;
        }
      }
    }
    // 储值卡
    .stored_card::after {
      background: #fcb429;
    }
    // 权益卡
    .equity_card::after {
      background: #81c5d8;
    }
    // 联名卡
    .cobranded_card::after {
      background: #5f89ef;
    }
    .member-card-item::after {
      content: "";
      position: relative;
      height: 1px;
      top: -3vw;
    }
  }

.fade-enter, .fade-leave-to {
    opacity: 0
}
.fade-leave, .fade-enter-to {
    opacity: 1
}
.fade-enter-active, .fade-leave-active {
    transition: all .5s
}
}
