/deep/.pageStyle{
    .el-input{
        .el-input__inner{
            font-size: 12px !important;
            height: 24px !important;
            color: #666666;
        }
    }
    .el-pagination__sizes{
        position: relative;
        bottom: 1px;      
    }
    .el-pagination{
        .el-pagination__jump{
            margin: 0 24px;
        }
        .el-pagination__total,.btn-prev,.el-pager li,.btn-next,.el-pagination__jump,.el-pagination__sizes{
            font-size: 12px !important;
            height:24px;
            line-height: 24px;
            min-width: 24px;
            border-radius: 4px;
            background: #ffffff;
            color: #666666;
        }
        .btn-prev,.el-pager li,.btn-next{
            border: 1px solid #BCBCBC;
        }
    }
}
section {
    margin-bottom: 15px;
}
.addBtn{
    width: 80px;
    padding-left: 0;
    padding-right: 0;   
    height: 32px;
    font-size: 12px;
    border-color: #3B74FF;
    color: #3B74FF;             
}
.autocollorr {
    color:red;
}
