//品类分析页面
.category-content-wrap, .channel-content-wrap {
    font-family: 'MicrosoftYaHei';
    box-sizing: border-box;
    font-size:12px;
    background-color: #fff;

    .header-fixed {
        .fs12 {
            font-size: 12px;
        }
    }
    .current-time{
        font-size:14px;
    }
    .text-gray {
        color: #999;
    }
    .ring {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: solid 3px #fff;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 4px;
        vertical-align: 0px;
    }
    .quehuo {
        border: solid 3px greenyellow;
    }
    .zhixiao {
        width: 8px;
        height: 8px;
        border: none;
        background: red;
    }
    .time-wrap {
        border: 1px solid #e6e5e5;
        border-radius: 4px;
        padding: 16px 0;
        padding-right: 44px;
        font-size: 12px;
        .area-name {
            padding-left: 40px;
        }
        .time-item {
            display: inline-block;
            padding-left: 20px;
            padding-top:8px;
            .member-type {
                margin-left: 16px;
                display: inline-block;
            }
        }
        .label-title {
            color: #666;
            font-size:12px;
        }
    }
    .section {
        padding-top: 30px;
        .flex-wraper {
            display: flex;
            .section-item {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        .unit {
            padding-left: 4px;
            font-size: 12px;
            color: #999;
        }

        .iconfont {
            padding: 0 4px;
            font-size: 14px;
        }

        .section-title {
            line-height: 50px;
            font-size: 14px;
            .icon {
                padding-right: 4px;
            }
            &.flex {
                display: flex;
                align-items: center;
                .flex-left {
                    flex: 1;
                }
            }
        }

        .section-content {
            width: 100%;
            box-sizing: border;
            &.trend-chart {
                margin-top: 30px;
            }
            .target-flex {
                display: -webkit-flex;
                display: flex;
                flex-wrap: nowrap;
                overflow:auto;
            }
            .target-block {
                box-sizing: border-box;
                width:16.6%;
                text-align: center;
                box-sizing: border-box;
                padding: 12px;
                margin-right: 8px;
                margin-bottom: 12px;
                border: 1px solid #e6e5e5;
                color: #666;
                &:last-of-type{
                    margin-right: 0;
                }
                .target-title {
                    text-align: left;
                    font-size: 12px;
                }
                .money {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: baseline;
                    line-height:60px;
                    height:60px;
                    .money-num {
                        color: #333;
                        font-size: 28px;
                    }
                }
                .ratio {
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
    }
}