.datacenter {
    position: relative;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.datacenter-query {
    padding: 24px;
    background: #f5f5f5;
}

.el-input__inner {
    height: 32px;
    line-height: 32px;
}

.el-input__icon {
    height: 32px;
    line-height: 32px;
}

.el-date-editor .el-range-separator {
    line-height: 22px;
}

/* .el-button {
    font-size: 12px;
    padding: 8px 11px;
  } */

.el-button--acitve {}

.el-button span,
.el-date-editor .el-range-input,
.el-date-editor .el-range-input,
.el-dialog {
    font-size: 12px;
}

.datacenter-query-ul {
    /*overflow: hidden;*/
    padding-bottom: 1px;
}

.datacenter-query-ul li {
    margin-right: 32px;
    height: 32px;
    line-height: 32px;
    float: left;
    margin-top: 8px;
}

.datacenter-query-ul .more {
    margin-right: 0;
}

.datacenter-query-ul li.more {
    height: 32px;
    line-height: 32px;
    float: right;
}

.DC-query-btn {
    margin: 0 16px;
    padding: 8px 35px;
}

.DC-query-btn-acitve {
    margin: 0 8px;
    padding: 8px 35px;
}

/* .el-button + .el-button {
    margin-left: 0px;
  } */
.DC-icon-left {
    margin-left: 8px;
}

.DC-margin-left32 {
    margin-right: 8px;
    width: 100px;
    text-align: right;
}

.DC-input208 {
    width: 208px;
}

.DC666 {
    color: #666666;
}

.more-query {
    display: block;
}

.datacenter-query-ul li .small-ii {
    float: left;
}

.el-date-editor .el-range-separator {
    color: #666666;
}

.GJBtn {
    cursor: pointer;
}

.common-box-query {
    overflow: hidden;
    padding: 16px 0;
    height: 100px
    /* min-height: 20px; */
}

.common-box-query div {
    width: 100%;
    /* min-height: 40px; */
}

.commonbox-query-coment {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

/* .el-dialog__body {
    padding: 0px 20px;
}

.queryWrapper .el-dialog__title {
    font-size: 12px;
}

.el-dialog__header {
    padding-bottom: 0px;
}

.el-dialog__footer {
    text-align: center;
} */

/* .el-button {
    padding: 9px 29px;
  } */
.commonbox-query-tips {
    color: #333333;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
}

li {
    margin-top: 10px !important;
}

/* 按钮样式 */
.data-query .search-button,
.data-query .normal-button {
    margin-right: 20px;
    line-height: 32px;
    text-align: 32px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
}

.data-query .search-button {
    width: 80px;
    height: 32px;
    color: #ffffff;
    background: #3b74ff;
}

.data-query .normal-button {
    width: 100px;
    height: 32px;
    color: #666666;
    background: #ffffff;
    border: 1px solid #bcbcbc;
}

.data-query .search-button:hover {
    cursor: pointer;
    background: #0f55ff;
}

.data-query .normal-button:hover {
    cursor: pointer;
    color: #666666;
    background: #F5F5F5;
}

.data-query .queryBtn-box .el-input,
.data-query .queryBtn-box .el-input .el-input__inner {
    color: #BCBCBC
}

.data-query .queryBtn-box .el-input,
.data-query .el-select {
    margin-right: 16px;
    width: 208px !important;
}

.data-query .el-table tr th>.cell {
    height: 30px !important;
    color: #666666 !important;
}

.data-query .el-table__body-wrapper .el-table__body tbody tr td div {
    color: #666666 !important;
}

.data-query .el-table tr td {
    height: 30px !important;
    color: #666666;
}

.data-query .el-table td {
    padding: 0 !important;
}

.data-query .el-pagination .el-pager .number {
    margin-top: 0 !important;
}

.data-query .el-pagination.is-background.el-pagination--small .btn-prev,
.data-query .el-pagination.is-background.el-pagination--small .btn-next,
.data-query .el-pagination.is-background.el-pagination--small .el-pager li {
    margin: 0 4px;
    min-width: 24px;
    height: 24px;
}

.data-query .el-pagination.is-background.el-pagination--small .btn-prev,
.data-query .el-pagination.is-background.el-pagination--small .btn-next {
    margin: 0 8px;
}

.data-query .el-pagination.is-background .btn-prev,
.data-query .el-pagination.is-background .btn-next {
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}

.data-query .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #3B74FF;
    border-radius: 4px;
    line-height: 24px;
}
.data-query .el-pagination--small .el-pagination__editor.el-input .el-input__inner {
    height: 24px;
    width: 48px;
    line-height: 24px;
}

.data-query .el-pagination span:not([class*="suffix"]),
.data-query .el-pagination button {
    margin-top: 0;
}

.data-query .el-pagination__jump,
.data-query .el-pagination__editor .el-input__inner {
    color: #666666 !important;
}

/* 影院选择框样式 */
.el-tree {
    color: #666666;
  }
  .el-tree-node__label {
    font-size: 12px;
  }
  .icon-neiye-zhankaijiantou:before {
    font-size: 8px;
  }
  .el-tree .el-tree-node__content .el-tree-node__label {
    margin-left: 4px;
  }
  
  /* .el-tree .el-tree-node__content .el-checkbox__inner {
    width: 12px;
    height: 12px;
  } */

/* 设置通用条件弹框样式 */
.data-query .common-box-query div li{
    color: #999999;
    border: 1px solid #bcbcbc;
}

.data-query .my_dialog .el-table td, .my_dialog .el-table th {
    border-right: 0 !important;
  }

.data-query .my_dialog .el-table {
      border-top: 1px solid #e5e5e5;
  }

.data-query .my_dialog .el-table td {
      background: white;
  }
  

.data-query .el-form-item__content {
    margin-right: 8px;
}


/* 渠道弹框控件样式调整 */
.my_dialog .ul_body {
    
}