.datacenter-btn {
  display: flex;
  justify-content: space-between;
  height: 48px;
  line-height: 48px;
  color: #999999;
  overflow: hidden;
}

.groupView-box {
  width: 100%;
  position: relative;
  height: 196px;
}

.groupView-left {
  width: 200px;
  height: 196px;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 0px 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.groupView-middle {
  box-sizing: border-box;
  position: absolute;
  left: 200px;
  right: 200px;
  width: auto;
  height: 100%;
}

.groupView-right {
  width: 200px;
  height: 196px;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 0px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.datacenter-btn-right .el-icon--right {
  margin-left: 0 !important;
}

.groupView-right .el-checkbox {
  padding-right: 44px;
  box-sizing: border-box;
  width: 166px;
}

.groupView-right .el-checkbox-group {
  position: relative;
}

.groupView-right-icon {
  position: absolute;
  right: 0;
  top: 6px;
}

.groupView-right-icon span {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #3b74ff;
  border-radius: 2px;
}

.groupView-left-header {
  height: 48px;
  border-bottom: 1px solid #f2f2f2;
}

.groupView-left-main {
  height: 131px;
  overflow: auto;
}

.groupView-middle-box {}

.groupView-middle-box .el-button {
  margin-bottom: 12px;
}

.el-checkbox {
  margin-right: 0 !important;
}

.el-checkbox-group label {
  display: block;
  height: 30px;
  line-height: 30px;
}

.el-checkbox+.el-checkbox {
  margin-left: 0px;
}

.positioncenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right-show {
  height: 30px;
}

.checkbox {
  display: inline-block !important;
  padding-right: 10px;
  width: 50px;
}

.groupView-right .el-checkbox {
  padding-right: 10px;
  box-sizing: border-box;
  width: 100px;
}

.sequence-button {
  margin-left: 10px;
  padding: 0;
  width: 15px;
  height: 15;
  font-size: 10px;
}

.sequence-button i {
  font-size: 5px;
}

.common-box-query div {
  height: 100px;
  overflow: auto;
  zoom: 1;
}

.common-box-query {
  padding: 0;
}

/* 按钮样式 */
.datacenter-btn .data-button {
  margin: 0;
  padding: 0;
}

.datacenter-btn .data-button {
  margin-right: 8px;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: 32px;
  font-size: 12px;
  color: #3b74ff;
  border: 1px solid #3b74ff;
  border-radius: 4px;
  background: #ffffff;
}

.datacenter-btn .data-button:hover {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0f55ff;
}

.datacenter-btn .data-button:disabled {
  cursor: wait;
}

.datacenter-btn .groupView-left-main .sort-btn {
  height: 15px;
}

/* 点击保存下拉菜单样式 */
.datacenter-btn .el-dropdown {
  margin-right: 8px;
}

.el-dropdown-menu .el-dropdown-menu__item,
.datacenter-btn .el-dropdown .el-button {
  font-size: 12px;
}

.datacenter-btn .el-dropdown .el-button {
  width: 80px;
  height: 32px;
}

.datacenter-btn .el-dropdown .el-button--primary {
  color: #3b74ff;
  border: 1px solid #3b74ff;
  background: white;
}

.el-dropdown-menu {
  margin: 0;
  padding: 0;
}

.el-dropdown-menu li {
  margin-top: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.el-popper .el-button--primary {
  width: 124px;
  text-align: left;
  color: #3b74ff;
  border: 1px solid #3b74ff;
  background: white;
  border: none;
  padding: 0;
}

.el-popper .el-button--primary li {
  display: flex;
  justify-content: space-between;
}

/* 分页弹框按钮样式 */
.groupView-middle-box .el-button {
  width: 80px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.groupView-middle-box .el-button+.el-button {
  margin-left: 0;
}

/* 切换模板弹框样式 */
.datacenter-btn .bigBox .el-dialog .el-dialog__header {
  padding: 16px 20px 0 20px;
  line-height: 30px;
}

.datacenter-btn .bigBox .el-dialog .el-dialog__body span {
  font-size: 12px;
}

.datacenter-btn .el-dialog__footer {
  padding: 20px 20px 12px 20px;
}

/* 浮层提示框样式 */
.el-message {
  min-width: auto;
  width: 192px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
}

i.iconfont.icon-danchuang-wancheng {
  color: #2DBC2D;
  font-size: 16px;
  margin-top: -5px;
  line-height: 48px;
  margin-right: 10px;
}

i.iconfont.icon-danchuang-jingtanhao {
  color: #FF8900 ;
  font-size: 16px;
  margin-top: -5px;
  line-height: 48px;
  margin-right: 10px;
}