[submodule "src/cam"]
	path = src/cam
	url = http://git.tech.nanhaicorp.com/oristarcloud/cam.git
[submodule "src/ctm"]
	path = src/ctm
	url = http://git.tech.nanhaicorp.com/oristarcloud/ctm.git
[submodule "src/ccm"]
	path = src/ccm
	url = http://git.tech.nanhaicorp.com/oristarcloud/ccm.git
[submodule "src/cmm"]
	path = src/cmm
	url = http://git.tech.nanhaicorp.com/oristarcloud/cmm.git
[submodule "src/crm"]
	path = src/crm
	url = http://git.tech.nanhaicorp.com/oristarcloud/crm.git
[submodule "src/rpt"]
	path = src/rpt
	url = http://git.tech.nanhaicorp.com/oristarcloud/rpt.git
[submodule "src/cim"]
	path = src/cim
	url = http://git.tech.nanhaicorp.com/oristarcloud/cim.git
[submodule "src/csm"]
	path = src/csm
	url = http://git.tech.nanhaicorp.com/oristarcloud/csm.git
