//商品分析页面
.commodity-content-wrap {
    font-family: 'MicrosoftYaHei';
    box-sizing: border-box;
    font-size:12px;
    background-color: #fff;

    .header-fixed {
        .fs12 {
            font-size: 12px;
        }
    }
    .current-time{
        font-size:14px;
    }
    .text-gray {
        color: #999;
    }
    .ring {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: solid 3px #fff;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 4px;
        vertical-align: 0px;
    }
    .quehuo {
        border: solid 3px greenyellow;
    }
    .zhixiao {
        border:solid 3px red;
    }
    .time-wrap {
        border: 1px solid #e6e5e5;
        border-radius: 4px;
        padding: 16px 0;
        padding-right: 44px;
        font-size: 12px;
        .area-name {
            padding-left: 40px;
        }
        .time-item {
            display: inline-block;
            padding-left: 20px;
            padding-top:8px;
            .member-type {
                margin-left: 16px;
                display: inline-block;
            }
        }
        .label-title {
            color: #666;
            font-size:12px;
        }
    }
    .section {
        padding-top: 30px;
        &.commodity-detail {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            .shipment-left {
                width: 84px;
                height: 84px;
                margin-right: 50px;
                img {
                    width: 100%;
                }
            }
            .shipment-right {
                flex: 1;
                display: flex;
                align-items: center;
                .shipment-item {
                    margin-right: 140px;
                    text-align: center;
                    .msg-bar {
                        margin-bottom: 30px;
                        display: flex;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        .label {
                            width: 60px;
                            text-align: right;
                            color: #666;
                            margin-right: 8px;
                        }
                        .desp {
                            flex: 1;
                            text-align: left;
                            color: #333;
                        }
                    }
                }
            }
        }
        .flex-wraper {
            display: flex;
            .section-item {
                flex: 1;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        .unit {
            padding-left: 4px;
            font-size: 12px;
            color: #999;
        }

        .iconfont {
            padding: 0 4px;
            font-size: 14px;
        }

        .section-title {
            line-height: 50px;
            font-size: 14px;
            .icon {
                padding-right: 4px;
            }
        }

        .section-content {
            width: 100%;
            box-sizing: border;
            .target-view {
                padding: 16px 10px;
                background: #F2F4FD;
                &__empty {
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .target-item {
                    margin-bottom: 16px;
                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                    .target-name {
                        font-size: 14px;
                        color: #333333;
                        margin-bottom: 10px;
                    }
                    .target-list {
                        display: flex;
                        .target-cell {
                            // flex: 1;
                            margin-right: 10px;
                            background: white;
                            height: 120px;
                            padding: 12px;
                            width: calc((100% - 50px) / 6);
                            &:last-of-type {
                                margin-right: 0px;
                            }
                            .target-money {
                                font-size: 12px;
                                color: #666666;
                                margin-bottom: 14px;
                            }
                            .target-middle {
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: center;
                                align-items: baseline;
                                line-height:60px;
                                height:60px;
                                .money-num {
                                    color: #333;
                                    font-size: 40px;
                                    font-family: BebasNeueCyrillic;
                                }
                                .unit {
                                    padding-left: 4px;
                                    font-size: 12px;
                                    color: #999;
                                }
                                .iconfont {
                                    padding: 0 4px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            .tabs-wrapper {
               width: 100%;
               position: relative; 
               .reset-tab {
                 width: 100%;
               }
               .download {
                   position: absolute;
                   right: 0;
                   top: 0;
               }
            }
            .flex {
                display: flex;
                align-items: center;
                .flex-left {
                    flex: 1;
                }
            }
            &.trend-chart {
                margin-top: 30px;
            }
            .target-flex {
                display: -webkit-flex;
                display: flex;
                flex-wrap: nowrap;
                overflow:auto;
            }
            .target-block {
                box-sizing: border-box;
                width:16.6%;
                text-align: center;
                box-sizing: border-box;
                padding: 12px;
                margin-right: 8px;
                margin-bottom: 12px;
                border: 1px solid #e6e5e5;
                color: #666;
                &:last-of-type{
                    margin-right: 0;
                }
                .target-title {
                    text-align: left;
                    font-size: 12px;
                }
                .money {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: baseline;
                    line-height:60px;
                    height:60px;
                    .money-num {
                        color: #333;
                        font-size: 40px;
                        font-family: BebasNeueCyrillic;
                    }
                }
                .ratio {
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
    }
}