.el-checkbox__label{
  color:#666;
  font-size:12px
}

/deep/ .el-form-item__label{
  color: #666;
  font: 12px;
}
/deep/ .el-radio__label{
  color:#666;
  font-size: 12px;
}
/deep/ .el-input{
  font-size: 12px
}
//下拉
/deep/ .el-select-dropdown__item span{
  font-size: 12px;
}
/deep/ .el-date-editor{
  span { font-size: 12px;}
}
/deep/ span{
  font-size: 12px;
}
//自定义字体
.font-style{
  font-size: 12px;
  color:#666;
}


    //弹窗
/deep/ .popup-input{
  input{
      text-overflow: ellipsis;
      background:#f5f5f5;
      border: 1px solid #bcbcbc!important;
  }
  margin-right: 8px;
}
.popup-input:hover  .popup-close{
    display: inline-block;
}
/deep/ .popup-close{
    cursor: pointer;
    color:#3B74FF;
    font-size: 16px;
    font-weight: 500;
    font-weight: 700;
    margin-top: 13px;
    display: none;
}

/* 按钮大小*/
/deep/ .el-button{
  width: 80px;
  height: 32px;
}
/* 折叠*/
/deep/ .el-collapse-item__header::after{
  display: none
}
/deep/ .el-collapse-item__header{
  display: flex;
  justify-content:flex-end;
  flex-direction: row-reverse;
}
/deep/ .el-collapse-item__wrap{
  padding-top: 0;
}
/deep/ .el-collapse-item__content{
  padding-bottom: 0;
}

/* 日期*/
/deep/ .el-date-editor .el-range-separator , .el-range-editor .el-range-input{
  font-size: 12px;
}
/deep/ .el-range-editor .el-range-input{
  font-size: 12px;
}
/deep/ .el-date-editor--daterange.el-input__inner {
  width: 252px;
  font-size: 12px;
}
/deep/ .el-range-separator{
  width:24px;
  line-height: 24px;
}
/deep/ .el-range__icon, .el-range-separator, .el-range__close-icon{
  line-height:20px!important;
}
/deep/ .el-date-editor .el-range__close-icon{
  line-height: 20px
}