.my_dialog {
    /deep/ .el-dialog {
        font-size: 12px;
        font-family: MicrosoftYaHei;
        color: #666666;
        // width: calc(576px + 224px);
        width: 892px;
        // height: 576px;
        border-radius: 4px;
        overflow: hidden;
        .el-dialog__header {
            padding: 7px 20px 10px;
        }
        .el-dialog__title {
            // font-family: MicrosoftYaHei;
            // font-size: 14px;
            color: #333333;
            letter-spacing: 0;
            line-height: 28px;
        }
        .el-dialog__headerbtn {
            top: 12px;
            color: #979797;
        }
        .el-dialog__close {
            color: #979797;
            // font-size: 16px; 
        }
        .el-form-item__label {
            font-size: 12px!important;
            height: 40px;
            line-height: 40px!important;
        }
        .el-form-item__content {
            line-height: 40px!important;
            .el-input {
                font-size: 12px!important;
            }
        }
        .el-icon-close {
            font-size: 12px;
        }
        .el-button {
            display: inline-block;
            width: 80px;
            height: 32px;
            line-height: 15px;
            vertical-align: middle;
        }
        .el-select {
            font-size: 12px!important;
            font-family: MicrosoftYaHei;
            color: #666666;
            .el-select-dropdown {
                .el-select-dropdown__item {
                    font-size: 12px!important;
                }
            }
        }
        .el-form-item {
            margin-bottom: 0;
            margin-right: 16px;
            vertical-align: top;
            height: 40px;
        }
        .el-dialog__header::after {
            content: "";
            display: block;
            // width: calc(536px + 224px);
            width: 852px;
            height: 1px;
            background: #e5e5e5;
        }
        span {
            font-family: MicrosoftYaHei;
            font-size: 12px;
            letter-spacing: 0;
        }
        .choose_table {
            display: flex;
            margin-top: 11px;
            border-left: 1px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            .choose_ul {
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                border-bottom: none;
                width: 224px;
                .ul_header {
                    display: flex;
                    padding: 10px 16px;
                    justify-content: space-between;
                    position: relative;
                    // border-bottom: 1px solid #F5F5F5;
                    &::after {
                        display: block;
                        position: absolute;
                        top: 37px;
                        content: "";
                        width: 192px;
                        height: 1px;
                        background-color: #F5F5F5;
                    }
                    span {
                        // font-family: MicrosoftYaHei;
                        // font-size: 12px;
                        color: #666666;
                        letter-spacing: 0;
                    }
                }
                .ul_body {
                    margin-top: 10px;
                    overflow-y: scroll;
                    font-size: 12px;
                    li {
                        padding: 4.5px 16px;
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-family: MicrosoftYaHei;
                            font-size: 12px;
                            color: #666666;
                            letter-spacing: 0;
                        }
                        .delate_span {
                            cursor: pointer;
                        }
                    }
                }
                .has-page {
                    min-height: 0px;
                    max-height: 350px;
                }
            }
        }
        .el-dialog__body {
            padding: 0 20px;
            tr th,
            tr td {
                height: 30px;
                line-height: 30px;
            }
            .two_search {
                // width: 250px;
                // font-size: 12px;
                margin-right: 16px;
            }
            .one_search {
                width: 268px;
            }
            .el-table__header-wrapper,
            .el-table__body-wrapper,
            .el-table__footer-wrapper {
                // width: 536px;
                width: calc(536px + 92px);
            }
            .el-table {
                // height: 353px;
                // width: 536px;
                min-height: 335px;
                width: calc(536px + 92px);
                flex: 0 1 auto;
                box-sizing: border-box;
                .has-gutter tr th {
                    padding: 0;
                }
                .cell {
                    // font-size: 12px;
                    line-height: 30px;
                    // float: left;
                    // text-align: center;
                }
                .el-radio__label {
                    padding: 0;
                    display: none;
                }
            }
            .cmm-block-pagination {
                padding: 20px;
                .el-pagination {
                    padding: 0;
                    text-align: center;
                }
            }
        }
        .btn-area {
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
        }
        .success,
        .danger,
        .info {
            font-size: 12px;
        }
        /deep/ .content .el-input {
            width: 50px;
        }
        .primary {
            color: #409EFF;
        }
        .success {
            color: #67C23A;
        }
        .danger {
            color: #F56C6C;
        }
        .warning {
            color: #FEC107;
        }
    }
}