//下拉框
.el-select-dropdown__item {
    font-size: 12px!important;
}

//查询头
.cmm_search-header {
    padding: 24px;
    background-color: #F3F3F3;
    .dialogBtn {
        width: 80px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        padding: 0;
        margin-left: 8px;
    }
    .input-dialog {
        /deep/ .el-input__inner {
            background: #f5f5f5;
            padding: 0;
            padding-left: 15px;
            padding-right: 30px;
        }
    }
    .el-form-item {
        margin: 0;
        margin-right: 32px;
        line-height: 40px;
        position: relative;
        .close-btn {
            position: absolute;
            top: 14px;
            right: 100px;
            font-size: 16px!important;
            font-weight: bolder;
            color: #3B74FF;
            cursor:pointer;
        }
        .el-form-item__label {
            color: #666666!important;
            line-height: 32px;
        }
        /deep/ .el-form-item__content {
            vertical-align: middle;
        }
        /deep/ .el-input {
            width: 192px;
            font-size: 12px!important;
            color: #666666;
            .el-input__inner {
                font-size: 12px!important;
            }
        }
        /deep/ .el-select {
            width: 192px;
            .el-input__inner {
                font-size: 12px!important;
            }
        }
        /deep/ .el-date-editor {
            width: 210px;
            vertical-align: middle;
            .el-range-input {
                width: 47%;
                font-size: 12px!important;
            }
            .el-range__icon,
            .el-range__close-icon,
            .el-range-separator {
                line-height: 24px!important;
            }
            .el-range-separator {
                width: 30px;
                padding: 0;
                font-size: 12px!important;
                color: #666666;
            }
            .el-date-editor--daterange.el-input__inner {
                width: 192px;
                color: #717171;
                font-size: 12px!important;
            }
        }
    }
    .el-button {
        width: 80px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        vertical-align: middle;
        padding: 0;
    }
}