// 页面公用样式
.common-header {
  padding: 25px 25px 0 25px;
  margin-bottom: 10px;
  background: #f5f5f5;
  box-sizing: border-box;
}
.common-new-built {
  padding-right: 20px;
  text-align: right;
  padding-bottom: 10px;
}
.query-btn-box {
  margin-left: 30px;
}
.red{
  color: #f56c6c;
}
.left{
  float: left;
}
.right{
  float: right;
}
.upload-img{
  width: 100px;
  height: 100px;
}
